/* @type */

.layout-header, .layout-header-placement {
  height: var(--soy-header-height);
}

.layout-tab {
  top: var(--soy-header-height);
  height: var(--soy-tab-height);
}

.layout-tab-placement {
  height: var(--soy-tab-height);
}

.layout-sider {
  width: var(--soy-sider-width);
}

.layout-sider_collapsed {
  width: var(--soy-sider-collapsed-width);
}

.layout-footer, .layout-footer-placement {
  height: var(--soy-footer-height);
}

.left-gap {
  padding-left: var(--soy-sider-width); 
}

.left-gap_collapsed {
  padding-left: var(--soy-sider-collapsed-width); 
}

.sider-padding-top {
  padding-top: var(--soy-header-height);
}

.sider-padding-bottom {
  padding-bottom: var(--soy-footer-height);
}
